<%
var title = '';
var icon = '';
if(page.category) {
    title = page.category;
    icon = 'category';
}
if(page.tag) {
    title = page.tag;
    icon = 'tag';
}
if(page.archive) {
    icon = 'archive';
    if(page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = "Archives";
}
%>
<div class="container archive-body">
    <div class="row">
        <div class="col-sm-3">
<% if (theme.gce_code === undefined) { %><div class="well"><% }%>
<% if (theme.gce_code !== undefined && theme.gce_code) { %>
            <div class="row" style="margin-left:0;margin-right:0">
                <div class="col-sm-12 gce-fix well well-sm">
                        <script>
                        (function() {
                            var cx = '<%- theme.gce_code %>';
                            var gcse = document.createElement('script');
                            gcse.type = 'text/javascript';
                            gcse.async = true;
                            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(gcse, s);
                        })();
                        </script>
                        <gcse:search></gcse:search>
                        <style>
                        .row div.gce-fix {
                            opacity: 1;
                        }
                        input.gsc-input {
                            font: initial;
                            font-family: initial;
                            line-height: initial;
                        }
                        input.gsc-search-button {
                            webkit-box-sizing: content-box;
                            box-sizing: content-box;
                        }
                        .gsib_a {
                            padding: 0 8px;
                        }
                        </style>
                </div>
            </div>
            <div class="row" style="margin-left:0;margin-right:0">
                <div class="col-sm-12 well">
<% } %>
                    <h2 class="<%= icon %>-icon"><%= title %></h2>
                    <%- list_archives() %>
<% if (theme.gce_code !== undefined && theme.gce_code) { %>
                </div>
            </div>
<% } %>
<% if (theme.gce_code === undefined) { %></div><% }%>
        </div>
        <div class="col-sm-9">
            <% page.posts.each(function(item) { %>
            <article class="post">
                <div class="jumbotron">
                    <h1><a href="<%- config.root %><%- item.path %>" title="<%- item.title %>"><%- item.title %></a></h1>

                    <% if(item.description){ %>
                        <p><%- item.description %></p>
                    <% } else if(item.excerpt){ %>
                        <p><%= strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
                    <% } else {%>
                        <p><%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
                    <% } %>

                    <p class="say-title">
                        —— <img src="<%- theme.avatar %>" alt="Author Avatar" class="img-circle index-post-avatar" />
                        <a href="<%- theme.author_link %>" title="<%- config.author %>"><%- config.author %></a>
                        Posted: <%- item.date.format(config.date_format) %>
                        <br>
                        Tags: <% if(item.tags && item.tags.length){ %><%- list_tags(item.tags, { show_count: false, class: 'article-tag', style: ""}) %> <% } %> — Category: <% if(item.categories && item.categories.length){ %><%- list_tags(item.categories, { show_count: false, class: 'article-tag', style: ""}) %> <% } %>
                    </p>
                </div>
            </article>
            <% }); %>
            <% if (page.total > 1){ %>
            <div class="pagination-div">
                <div class="well">
                <%- paginator({
                  prev_text: '&laquo; Prev',
                  next_text: 'Next &raquo;'
                }) %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<script>
$(function() {
    $(".archive-list-count").addClass("badge");
});
</script>
