<% if (theme.gce_code !== undefined && theme.gce_code) { %>
<div class="post container first-post gce-fix">
    <div class="well well-sm">
        <script>
        (function() {
            var cx = '<%- theme.gce_code %>';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
        </script>
        <gcse:search></gcse:search>
        <style>
        .gce-fix {
            opacity: 1;
        }
        input.gsc-input {
            font: initial;
            font-family: initial;
            line-height: initial;
        }
        input.gsc-search-button {
            webkit-box-sizing: content-box;
            box-sizing: content-box;
        }
        .gsib_a {
            padding: 0 8px;
        }
        </style>
    </div>
</div>
<% } %>
<% page.posts.each(function(item){ %>
<article class="post container">
    <div class="jumbotron">
        <h1><a href="<%- config.root %><%- item.path %>" title="<%- item.title %>"><%- item.title %></a></h1>
        <% if(item.description){ %>
            <p><%- item.description %></p>
        <% } else if(item.excerpt){ %>
            <p><%= strip_html(item.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %></p>
        <% } else {%>
            <p><%= strip_html(item.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %></p>
        <% } %>
        <p class="say-title">
            —— <img src="<%- theme.avatar %>" alt="Author Avatar" class="img-circle index-post-avatar" />
            <a href="<%- theme.author_link %>" title="<%- config.author %>"><%- config.author %></a>
            Posted: <%- item.date.format(config.date_format) %>
            <br>
            <% if(item.tags && item.tags.length){ %>Tags: <%- list_tags(item.tags, { show_count: false, class: 'article-tag', style: ""}) %> — <% } %><% if(item.categories && item.categories.length){ %>Category: <%- list_tags(item.categories, { show_count: false, class: 'article-tag', style: ""}) %> <% } %>
        </p>
    </div>
</article>
<% }); %>
<% if (page.total > 1){ %>
<div class="container pagination-div">
    <div class="well">
    <%- paginator({
      prev_text: '&laquo; Prev',
      next_text: 'Next &raquo;'
    }) %>
    </div>
</div>
<% } %>
<% if (theme.gce_code === undefined) { %>
<script>
$(function() {
    $("article:first").addClass("first-post");
});
</script>
<% } %>
