<% if (theme.duoshuo_shortname && (typeof page.comments === 'undefined' || page.comments)) { %>
  <%- css('https://static.duoshuo.com/styles/embed.default.css?349d9313.css') %>
  <div class="ds-thread" data-thread-key="<%= post.path %>" data-title="<%= post.title %>" data-url="<%= url_for(post.path) %>"></div>
  <script type="text/javascript">
    var duoshuoQuery = {
      short_name: "<%= theme.duoshuo_shortname %>"
    };
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';
      ds.async = true;
      ds.src = (document.location.protocol == 'https:'
        ? 'https:'
        : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  </script>
<% } %>
